/* OVERALL */
body {
    background: linear-gradient(to right, #b4edff, #f9bf92); /* GRADIENT BG */
    background-size: cover;
    background-attachment: fixed;
    font-family: "Outfit", sans-serif;
    color: #222d3b; /* MAIN TEXT COLOR */
}

/* NAVBAR */
.navbar {
    background-color: rgba(255, 255, 255, 0.659); /* SEMI-TRANSPARENT WHITE */
    border-radius: 10px;
    margin: 10px;
}

/* BUTTONS */
.btn {
    border-radius: 25px;
    padding: 8px 18px;
    font-weight: 500;
    transition: 0.3s; /* SMOOTH HOVER EFFECT */
}

.btn-primary {
    background-color: #7dcfb6;
    border-color: #7dcfb6;
}

.btn-primary:hover {
    background-color: #35a482; /* DARKER ON HOVER */
    border-color: #35a482;
}

/* CARDS */
.card {
    border-radius: 15px;
}

/* TABLE */
#sched table {
    border: #e7d98f dashed; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.621); 
}

/* COLOR COLUMNS */
#sched table td:nth-child(1),
#sched table th:nth-child(1) {
    background-color: #fcf9e2; 
}

#sched table td:nth-child(2),
#sched table th:nth-child(2) {
    background-color: #fcf9e2; 
}

#sched table td:nth-child(3),
#sched table th:nth-child(3) {
    background-color: #fcf9e2;
}

/* SECTIONS */
#div1,
#calc,
#matrix,
#help,
#account {
    background-color: #fcf9e2; 
    border-radius: 20px;
    padding: 30px;
    border: 5px dashed #e7d98f; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.621);
}

/* FOOTER */
#footer {
    background-color: rgba(255, 255, 255, 0.659);
    border-radius: 15px;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px); 
    border-top: 1px solid #ddd;
}

/* FORM */
#pickup,
#dropoff,
#discount {
    background-color: rgb(216, 243, 255); 
    font-weight: 50px;
}

/* EXTRA */
#space {
    background-color: rgb(216, 243, 255); 
}

#logo {
    font-weight: 550;
    color: #fc9e5b; 
}
